* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span {
     font-family: "Rubik", serif; /*"Montserrat" */
}

body {
    width: 100vw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(155deg, rgba(255,248,242,1) 0%, rgba(254,237,227,1) 100%);
}

.main-container {
    width: 60%;
    min-width: 400px;
    height: 80%;

    padding: 30px;

    border-radius: 30px;
    border-color: #fff;
    border-width: 1px;

    box-shadow: 8px 8px 39px -30px rgba(0,0,0,0.5);
}